
   


h1{
    color: yellow;
    font-size:40px;
    font-weght: bold;
    font-familiy:"Impact";
    text-align: center;
    background-color:black
}

body{
    background-image: url("../images/stmt2.jfif");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: bottom right;
    
}
h2{ 
    color: yellow;
    text-align: center;
    background-color: black;
}
table{
background-color: gold
    
}